@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
:root {
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  background-color: #040C18;
  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  padding-left: 55px;
  padding-right: 55px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hero button {
  width: 174px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: rgba(255, 72, 32, 1);
  border-radius: 0 12px 12px 0;
  border: none;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  cursor: pointer;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 62px;
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  line-height: 75px; /* 120.968% */
letter-spacing: -2.48px;
}

p {
  font-weight: 300;
  color: #81AFDD;
}

.getting-started {
  display: flex; 
  flex-grow: 1;
  height: 73px;
}

input {
  background-color: #052D56;
  border: none;
  font-size: 20px;
  color: #3D6184;
  border-radius: 12px 0 0 12px;
  width: 100%;
  padding: 16px;
}

.requested-access {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.requested-access p {
  font-size: 12px;
  color: #FFFFFF;
}

/*  Afilliates */
.affiliates {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
  margin: 120px auto;
}

/* What is GPT3 */
.gpt3 {
  background-color: #042C54;
  padding: 64px 50px;
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.gpt3 p {
  font-size: 16px;
}

.gpt3-top {
  display: flex;
  align-items: start;
  gap: 150px;
  margin-top: 12px;
}
.gpt3-top * {
  margin: 0;
}
.gpt3-top h3 {
  font-size: 24px;
}
.gpt3-top p{
  max-width: 730px;
  line-height: 30px
}

.gpt3-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gpt3-middle h2 { 
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 34px;
  max-width: 472px;
}
.gpt3-middle p {
  color: #FF8A71;
}

.gpt3-bottom {
  display: flex;
}

/* Future is Now*/
.future {
  display: flex;
  justify-content: space-between;
  margin: 200px 0;
}
.future h2 { 
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 34px;
  max-width: 472px;
  margin-top: 0;
}
.future-left p {
  color: #FF8A71;
}
.future-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Possibilities */
.possibilities {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
}
.possibilities img {
  width: 475px;
  height: 542.691px;
}
.possibility-content {
  width:480px;
}
p.bold {
  font-weight: 500;
  color: #71E5FF;
}
.possibility-content p {
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 18px;
}
.possibility-content a {
  color: #FF8A71;
  text-decoration: none;
}
.possibilities h3 {
font-size: 34px;
font-weight: 800;
background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
line-height: 45px; /* 132.353% */
}
/* Reigster */
.register {
  margin-top: 150px;
  height: 172px;
  border-radius: 10.724px;
  display: flex;
  flex-shrink: 0;
  border: 1px solid #000;
  background: linear-gradient(90deg, #AE67FA 0%, #F49867 97.40%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: #000000;
}
.register p {
  color: #0E0E0E;
  font-weight: 500;
}
.register h3 {
  margin-top: 0;
}
.register button {
  width: 190px;
  height: 60px;
  border-radius: 40px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
}
/* Blog */
.blog {
  margin: 150px 0px;
}
.blog-wrapper {
  display: flex;
  gap: 50px;
}
.small-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Footer */
.footer {
  background-color: #031B34;
  text-align: center;
}
.footer h1 {
  width: 820px;
  padding-top: 175px;
  margin-left: auto;
  margin-right: auto;
}
.footer button {
  height: 65px;
  width: 218px;
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: #031B34;
  font-size: 18px;
  margin-bottom: 180px;
  cursor: pointer;
}